---
import Layout from '../layouts/Layout.astro';
import HeroAvi from '../components/HeroAvi.astro';
const link = 'steps'
---
<!-- POSITIVUS Official Astro theme -->
<Layout title="Positivus">
	<main class="space-y-20">
		<HeroAvi link={link}/>
	</main>
</Layout>