---
import Container from "./Container.astro"
import { Astronav } from "astro-navbar";


const navButton = { href: 'https://github.com/manulthanura/Positivus', label: 'Request a quote' };
---

<div class="mt-20">
<nav class="w-full top-0 left-0 z-50 fixed bg-white">
  <Container>
  <header class="flex flex-col lg:flex-row justify-between items-center my-5">
    <Astronav>
      <div class="flex w-full lg:w-auto items-center justify-between">
        <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
          <img src="/Logo.svg" class="h-8" alt="Logo" />
        </a>
      </div>
    </Astronav>
  </header>
</Container>
</nav>
</div>